<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <title>Checkout</title>
    </head>
    <script src="https://sdk.mercadopago.com/js/v2"></script>

<body class="bg-dark">
    <header>
        <nav class="navbar bg-info ">
            <div class="container-fluid ">
                <a class="navbar-brand text-light ">CheckoutPRO</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container bg-dark text-light text-center mt-5">
            <h1>Checkout</h1>
            <div class="card col-4 mx-auto" style="margin-top: 5rem;">
                <h5 class="card-header text-dark">Product #45</h5>
                <div class="card-body text-dark">
                    <form action="#" class="d-flex justify-content-center align-items-center flex-column py-5"
                        method="post" onsubmit="createPreference(event)">
                        <label for="title">Title</label>
                        <input type="text" id="title" class="w-50">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="w-50">
                        <label for="quantity">Quantity</label>
                        <input type="number" id="quantity" class="w-50">
                        <label for="rice">Price</label>
                        <input type="number" id="price" class="w-50">
                        <div class="cho-container"></div>
                        <button id="btn" type="submit" class="btn btn-primary ">
                            submit
                        </button>
                    </form>


                </div>
            </div>
        </div>
    </main>
    <script th:inline="javascript">

        async function createPreference(event) {
            event.preventDefault();

            const btn = document.getElementById('btn');
        	btn.style.display = 'none';

	        const mp = new MercadoPago("TEST-a95d9ed5-ae13-40c1-8b63-221542608706", {
	            locale: 'es-AR'
	        });
	
	        var item = {
	            title: '',
	            description: '',
	            quantity: 0,
	            unitPrice: 0
	        };

            const title = document.getElementById("title").value;
            const description = document.getElementById("description").value;
            const quantity = document.getElementById("quantity").value;
            const price = document.getElementById("price").value;

            item = {
                title: title,
                description: description,
                quantity: quantity,
                unitPrice: price

            };
           
            const request = {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    items: [item]
                })
            };

            fetch("/test/v1/create", request)
                .then((response) => response.json())
                .then(response => {
                    const checkout = mp.checkout({
                        preference: {
                            id: response.id
                        },

                        render: {
                            container: ".cho-container", // class do CSS para renderizar o botão de pagamento
                            label: "Pagar", // Muda o texto do botão de pagamento (opcional)
                        }
                    });
                    console.log(checkout);

                })
                .catch((error) => {
                    console.error('There was an error!');
                })
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>

</html>


<!-- 
const checkout = mp.checkout({
    preference: {
        id: response.id
    },
    
    render: {
        container: ".cho-container", // class do CSS para renderizar o botão de pagamento
        label: "Pagar", // Muda o texto do botão de pagamento (opcional)
    }
}); -->